.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    flex: 1;
}

.logout-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    padding-bottom: 2vh;
}

.main-content {
    margin-left: 250px; 
    padding: 20px;
}