@model Item

@{
    ViewData["Title"] = "New Item";
}

<h1>New Item</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <partial name="CreateEditPartial" model="Model"/>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}