@{
    ViewData["Title"] = "Access Denied";
}

<div>
    <h1>Access Denied</h1>
    <h4>You do not have sufficient permissions to view this page.</h4>
    <br/>
    <a asp-controller="Game" asp-action="Index">Click here to go back to the game.</a>
</div>