@{
    ViewData["Title"] = "Firefighter Adventure";
}


    <div class="text-center">
        <h1>Welcome to Firefighter Adventure</h1>
        <a class="btn btn-primary m-1" asp-area="" asp-controller="Index" asp-action="Login">Login</a>
        <a class="btn btn-secondary m-1" asp-area="" asp-controller="Index" asp-action="Register">Register</a>
        
    </div>


