@model ServiceResult<BuyResult>

@if (Model.IsSuccess)
{
    <!-- sucess-->
    <p>Bought @Model.Data.Item.Name</p>
    <p>Current balance: &euro; @Model.Data.Player.Money</p>
}
else
{
    <!-- failed -->
    @if (Model?.Messages != null)
    {
        foreach (var message in Model.Messages)
        {
            <p>@message.Message</p>
        }
    }
}