@using ActionCommandGame.Services.Extensions
@model List<Player>

<ol type="1">
    @foreach (var player in Model)
    {
        <li>@player.GetLevel() @player.Name with @player.Experience experience</li>
    }
</ol>
