@using ActionCommandGame.Services.Extensions
@model List<Player>

<ol type="1">
    @foreach (var player in Model)
    {
        <li>Level @player.GetLevel(): <b>@player.Name</b> with @player.Experience experience</li>
    }
</ol>
