@{
    var returnUrl = ViewBag.ReturnUrl?.ToString();
}

<div class="sidebar-content">
    <h3 class="ml-auto">Hello @ViewData["PlayerName"]!</h3>
    <div id="stats"></div>
</div>
<div class="logout-container">
    <form method="post" class="form-inline">
        <button type="submit" class="btn btn-danger mr-1" asp-controller="Index" asp-action="Logout" asp-route-returnUrl="@returnUrl">Logout</button>
    </form>
</div>